SECRET_KEY=changez-moi-cle-secrete-longue
DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,*

DB_ENGINE=sqlite
SQLITE_PATH=/app/data/db.sqlite3

USE_WHITENOISE=True

GIT_USER_EMAIL=deploy@local.test
GIT_USER_NAME=Git Manager
# GIT_SSH_PRIVATE_KEY=

GUNICORN_WORKERS=2
APP_PORT=8000
SSH_PORT=2222
ENABLE_SSH_SERVER=false
# API_TOKEN=auth-token-pour-les-endpoints-api

# Notifications
# SLACK_WEBHOOK_URL=https://hooks.slack.com/services/xxx/yyy/zzz
# ALERT_EMAIL_TO=admin@example.com
# DEFAULT_FROM_EMAIL=git-manager@local.test
# EMAIL_HOST=localhost
# EMAIL_PORT=25
# EMAIL_HOST_USER=
# EMAIL_HOST_PASSWORD=
# EMAIL_USE_TLS=false

# PostgreSQL (optionnel — par défaut SQLite)
# DATABASE_URL=postgres://user:password@host:5432/git_manager
# DB_NAME=git_manager
# DB_USER=git_manager
# DB_PASSWORD=changez-moi
# DB_HOST=localhost
# DB_PORT=5432
